:root {
    --primary-color: #ffddd2;
    --secondary-color: #073b4c;
    --tertiary-color: white;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header / Nave bar styles start */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 5;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    /* float: right; */
    margin: 0 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
  }

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header / Nav bar styles end */

/* Hero Style*/
.hero {
background-image: url("../Profile.jpeg");
width: 100vw;
height: 35vh;
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
background-attachment: inherit;
align-items: flex-start;
}

  /* body */

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

section {
    display: flex;
    align-items: center;
}

.section h2{
    font-size: 45px;
    color: var(--secondary-color);
}

  .section--title {
      flex-basis: 20%;
      text-align: right;
      padding-right: 30px;
      border-right: solid;
  }


/* About me */
.section--info1 {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: flex-start;
     line-height: 1.7;
      flex-basis: 75%;
      font-size: 20px;
      margin-left: 25px;

}

.section img {
    width: 15%;
    margin: 50px;
    display: block;
    margin-left: 50px;
    margin-right: auto;
}

/* Work Section */
.section--container__img-large {
    background-image: url(../on-screen2.png);
    width: 800px;
    height: 300px;
    display: block;
    margin-left: 210px;
    margin-right: 40px;
    position: relative;
    border: var(--primary-color) 15px solid;
}

.section--container__img-text {
    position: absolute;
    top: 55%;
    left: 0%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 15px;
}

.section--container__img2 {
    background-image: url(../magic.jpeg);
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: var(--primary-color) 15px solid;
}

.section--container__img3 {
    background-image: url(../gift.jpeg);
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: var(--primary-color) 15px solid;
}

.section--container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 100px;
}

/* Contact Me Section */
.section--info {
    align-items: center;
     line-height: 1.7;
      flex-basis: 75%;
      font-size: 20px;
      margin-left: 15px;
      margin-top: 150px;
      flex: 0 100%;
    }

.section--info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 150px;
}

/* Footer Section */
footer{
    padding: 20px 35px;
    background-color: var(--secondary-color);
}

footer h4 {
    font-weight: bold;
    font-size: 20px;
    color: var(--tertiary-color);
    margin: 0;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 576px) {
    .section--container__img-large {
        background-image: url(../istock_65177049_medium.jpeg);
        width: 100%;
        height: 300px;
        display: block;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        border: var(--primary-color) 15px solid;
    }  

    .section--container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 100px;
        flex-basis: 100%;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section--title {
        flex-basis: 20%;
        text-align: center;
        padding-right: 0;
        border-right: none;
    }
  
    header {
        padding: 20px 35px;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 17px;
      }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */