:root {
    --primary-color: #7400b8;
    --secondary-color: #80ffdb;
    --tertiary-color: #5390d9;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
}

/* Header / Nave bar styles start */

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

header a {
    color: primary-color;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

/* Hero Style Start*/
.hero {
background-image: url("../Profile.jpeg");
width: 100vw;
height: 35vh;
background-size: cover;
background-position: center center; 
background-repeat: no-repeat;
background-attachment: fixed;
}

  /* body */
  .primary {
      text-align: left;
      font-size: 35px;
      color: var(--primary-color);
  }


