:root {
    --primary-color: #5390d9;
    --secondary-color: #80ffdb;
    --tertiary-color: #7400b8;
  }

/* * {
    margin: 0;
    padding: 0;
} */

/* Header / Nave bar styles start */

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

header a {
    color: primary-color;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

/* Hero Style Start*/
.hero {
background-image: url("../Profile.jpeg");
width: 100vw;
height: 35vh;
background-size: cover;
background-position: center center; 
background-repeat: no-repeat;
background-attachment: fixed;
}

  /* body */

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

  .primary {
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

/* About me */
.intro p {line-height: 1.7;
  width: 80%;
  margin: 0 auto 60px;
  font-size: 20px;
}

.intro img {
    width: 15%;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Work Section */
.work1 img {
    width: 800px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-text {
    text-align: center;
}




